body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: sans-serif;
  word-wrap: break-word;
  margin: 40px auto;
  padding: 0px 10px;
  max-width: 650px;
}

